<ul class="nobullet">
  <li *ngFor="let ad of ads"
    (click)="onSelect(ad)">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>{{ad.id}}</mat-card-title>
            <mat-card-subtitle>Located in: {{ad.location}} Price : {{ad.price}}</mat-card-subtitle>
            <img mat-card-sm-image src={{ad.url}} alt="image">
        </mat-card-title-group>
      <mat-card-content>{{ad.description}}</mat-card-content>
    </mat-card>
  </li> 
</ul>
 
<ad-detail [selection]="selectedAd"></ad-detail>
